* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--clr-grey-1);
  line-height: 1.5;

  font-size: 0.875rem;
}
.Show {
  width: 100%;
  height: 100vh;
  background: var(--clr-white);
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  z-index: 2;
  margin-top: 180px;
  width: 600px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 2.55rem;
  text-transform: none !important;
  letter-spacing: var(--spacing);

  line-height: 1.25;
}
.Show {
  background-color: antiquewhite;
}

.center {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* .join {
  background-color: #e95900;
  color: white;
  border-radius: 8px;
  padding: 14px 20px;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 30px;
  border: none;
  cursor: pointer;

  animation: bounce 1s infinite;
} */

h1 {
  font-size: 64px;
}

/* new button */

.join {
  position: relative;
  padding: 12px 35px;
  cursor: pointer;
  background-color: #e95900;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 30px;
  color: white;
  border: 3px solid #e95900;
  border-radius: 8px;
  box-shadow: 0 0 0 #cc4a02;
  transition: all 0.3s ease-in-out;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #e95900);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #122a42;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #e95900);
  z-index: 2;
}

.fil0 {
  fill: #e95900;
}
