@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.sidebar__logo {
  object-fit: contain;
  height: 40px;
  width: auto;
  position: relative;
  padding: 5px;
  top: 20px;
}

.sidebar__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar__text {
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: 20px;
  color: #000000;
  margin-left: 5px;
}

.sidebar__bee {
  color: #ffd700;
}
.sidebar__title {
  color: #b3b0bd;
  margin-left: 20px;
  padding: 0px;
  font-size: 12px;
}

.sidebar {
  flex: 0.2;
  font-family: Montserrat, sans-serif;

  background-color: #ffdd83;
  padding: 20px;
  height: 100vh;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 230px;
  flex-direction: column;
}
