.sidebarOption {
  display: flex;
  align-items: center;
  color: gray;
  height: 55px;
  cursor: pointer;
  font-size: small;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  background-color: #e95900;
  border-radius: 10px;
  cursor: pointer;
  height: 55px;
  color: white;
  padding: 5px;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}
.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
.sidebar > hr {
  border: 1px solid #b3b0bd;
  width: 100%;
  margin: 10px auto;
}
